.invitations-container {
    margin-bottom: 1em;
}

.invitations-container,
.main-content-container,
.menu-card-container {
    width: 100%;
}

.network-page-container {
    display: flex;
    min-height: fit-content;
    justify-content: center;
    margin: 0 auto;
    max-width: 1128px;
    padding: 1.5em;
    width: 100%;
}

.network-left-container,
.network-right-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.network-left-container {
    margin-right: 0.5em;
    width: 300px;
}

.network-right-container {
    margin-left: 0.5em;
    width: 636px;
}

@media screen and (max-width: 1024px) {
    .network-page-container {
        align-items: center;
        flex-direction: column;
    }

    .network-left-container {
        margin: 0 auto;
        max-width: 636px;
        width: 100%;
    }

    .menu-card-container {
        padding-bottom: 1em;
        max-width: 636px;
        width: 100%;
    }

    .network-right-container {
        margin: 0 auto;
        max-width: 636px;
        width: 100%;
    }
}
