.connections-btn-left,
.connections-btn-right,
.followers-btn-left,
.followers-btn-right,
.following-btn-left,
.following-btn-right {
    color: var(--global-faded-text-color);
    display: flex;
}

.network-menu-card-connections-btn,
.network-menu-card-followers-btn,
.network-menu-card-following-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 1em;
    transition: background-color 0.5s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
}

.network-menu-card-connections-btn:hover,
.network-menu-card-followers-btn:hover,
.network-menu-card-following-btn:hover {
    background-color: var(--global-button-hover-color);
}

.network-menu-card-connections-btn:focus,
.network-menu-card-followers-btn:focus,
.network-menu-card-following-btn:focus {
    outline: none;
}

.network-menu-card-container {
    background-color: var(--global-card-background-color);
    border: 1px solid var(--global-faded-border-color);
    border-radius: 0.6em;
    min-width: 220px;
    width: 100%;
}

.network-menu-card-header {
    border-bottom: 1px solid var(--global-faded-border-color);
    color: var(--global-saturated-text-color);
    padding: 1em;
}

.network-menu-card-icons {
    margin-right: 0.25em;
}
