.bio {
    max-width: 50%;
}

.contact-info {
    color: var(--global-saturated-blue);
    cursor: pointer;
}

.contact-info:hover {
    text-decoration: underline;
}

.contact-modal-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.follower-following-modal-body {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, auto);
    padding: 1em;
}

.contact-modal-body > h2{
    font-weight: 400;
}

.contact-modal-body a {
    color: var(--global-saturated-blue);
    font-size: 0.8em;
    font-weight: var(--global-bold);
    margin-left: 3em;
    text-decoration: none;
}

.contact-modal-body a:hover {
    text-decoration: underline;
}

.contact-modal-container,
.follower-following-modal {
    background-color: var(--global-card-background-color);
    border: 1px solid var(--global-faded-border-color);
    border-radius: 0.6em;
    margin: 1em auto;
}

.contact-modal-header,
.follower-following-modal-header {
    align-items: center;
    border-bottom: 1px solid var(--global-faded-border-color);
    display: flex;
    font-size: 1.25em;
    justify-content: space-between;
    padding: 1em;
}

.follower-following-no-users {
    padding: 1em;
}

.email-icon,
.linkedin-icon {
    align-items: center;
    display: flex;
    gap: 1em;
    /* justify-content: center; */
}

.followers,
.following {
    background: none;
    border: none;
    color: var(--global-saturated-blue);
    cursor: pointer;
}

.followers:hover,
.following:hover {
    text-decoration: underline;
}

.user-profile-bio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.user-profile-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin: 0.75em auto;
    max-width: 1128px;
    padding: 0 1em;
    width: 100%;
}

.user-profile-activity,
.user-profile-details,
.user-profile-network {
    border-radius: 0.6em;
    width: 100%;
}

.user-profile-details {
    background-color: var(--global-card-background-color);
    border: 1px solid var(--global-faded-border-color);
    overflow: hidden;
    position: relative;
}

.user-profile-details-header {
    height: 144px;
}

.user-profile-follow-btn {
    background-color: var(--global-saturated-blue);
    border: none;
    border-radius: 2em;
    color: var(--global-card-background-color);
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1em;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.user-profile-follow-btn:hover {
    background-color: var(--global-dark-blue);
}

.user-profile-followers-following {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
    width: fit-content;
}

.user-profile-names {
    font-size: 1.5em;
}

.user-profile-no-posts {
    background-color: var(--global-card-background-color);
    border: 1px solid var(--global-faded-border-color);
    border-radius: 0.6em;
    padding: 1em;
}

.user-profile-profile-img {
    background-color: var(--global-card-background-color);
    border: 4px solid var(--global-card-background-color);
    border-radius: 50%;
    height: 160px;
    overflow: hidden;
    position: absolute;
    top: 3em;
    left: 2em;
    width: 160px;
}

.user-profile-profile-img>img {
    height: 160px;
    width: 160px;
}

.user-profile-user-details {
    padding: 4.5em 2em 1em;
}
