.bio {
    max-width: 50%;
}

.contact-info {
    color: var(--global-saturated-blue);
    cursor: pointer;
}

.contact-info:hover {
    text-decoration: underline;
}

.followers,
.following {
    background: none;
    border: none;
    color: var(--global-saturated-blue);
    cursor: pointer;
}

.followers:hover,
.following:hover {
    text-decoration: underline;
}

.user-profile-bio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.user-profile-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin: 0.75em auto;
    max-width: 1128px;
    padding: 0 1em;
    width: 100%;
}

.user-profile-activity,
.user-profile-details,
.user-profile-network {
    border-radius: 0.6em;
    width: 100%;
}

.user-profile-activity {
    border: 1px solid green;
}

.user-profile-details {
    background-color: var(--global-card-background-color);
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.user-profile-details-header {
    height: 144px;
}

.user-profile-followers-following {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    width: fit-content;
}

.user-profile-names {
    font-size: 1.5em;
}

.user-profile-network {

}

.user-profile-profile-img {
    background-color: var(--global-card-background-color);
    border: 4px solid var(--global-card-background-color);
    border-radius: 50%;
    height: 160px;
    overflow: hidden;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 160px;
}

.user-profile-profile-img > img {
    height: 160px;
    width: 160px;
}

.user-profile-user-details {
    padding: 3.5em 2em;
}
