/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2ef;
}

/* GLOBAL COLOR VARIABLES */
:root {
    --global-faded-text-color: #797979;
    --global-saturated-text-color: #191919;
    --global-faded-blue: #378FE9;
    --global-saturated-blue: #0A66C2;
    --global-faded-border-color: #E0DFDC;
    --global-saturated-border-color: #A5A5A5;
    --global-button-hover-color: #EBEBEB;
    --global-card-background-color: #FFFFFF;
}
