.post-form-opener-btns-container {
    padding: 0.25em 1em;
}

.post-form-opener-input-container {
    align-items: center;
    display: flex;
    padding: 1em 1em 0.1em 1em;
}

.post-form-opener-container {
    background-color: var(--global-card-background-color);
    border: 1px solid var(--global-faded-border-color);
    border-radius: 0.6em;
    margin: 1em auto;
    width: 60%;
}

.post-form-opener-photo-btn {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.6em;
    color: var(--global-faded-text-color);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    gap: 1em;
    justify-content: center;
    padding: 1em 0.5em;
    transition: background-color 0.167s cubic-bezier(.4, 0, .2, 1);
}

.post-form-opener-img-btn:hover {
    background-color: var(--global-button-hover-color);
}

.post-form-opener-input {
    align-items: center;
    background: none;
    border: 1px solid var(--global-saturated-border-color);
    border-radius: 2em;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: flex-start;
    margin-left: 1em;
    transition: background-color 0.167s cubic-bezier(.4, 0, .2, 1);
    width: 90%;
}

.post-form-opener-input:hover {
    background-color: var(--global-button-hover-color);
}

.post-form-opener-input>span {
    margin-left: 1em;
}

.post-form-opener-photo-icon {
    color: var(--global-faded-blue);
}

.post-form-opener-profile-img {
    background-color: rgba(128, 128, 128, .25);
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    width: 48px;
}
