.single-post-body {
    padding: 1em;
    white-space: pre-line;
}

.single-post-container {
    background-color: #ffffff;
    border: 1px solid var(--global-faded-border-color);
    border-radius: 0.6em;
    margin: 0.5em 0;
    width: 100%;
}

.single-post-follow-btn {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.3em;
    color: var(--global-saturated-blue);
    cursor: pointer;
    display: flex;
    font-weight: var(--global-bold);
    font-size: 1.05em;
    justify-content: space-between;
    padding: 0.25em 0.4em;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.single-post-follow-btn:hover {
    background-color: var(--global-faded-blue-hover);
}

.single-post-follow-btn-icon:first-child {
    align-items: center;
    display: flex;
    justify-content: center;
}

.single-post-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.25em 1em;
}

.single-post-header {
    align-items: center;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.single-post-image>img {
    width: 100%;
}

.single-post-like-btn,
.single-post-like-btn-blue,
.single-post-edit-btn,
.single-post-delete-btn {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.6em;
    color: var(--global-faded-text-color);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    gap: 0.5em;
    justify-content: center;
    padding: 1em 2em;
    transition: background-color 0.167s cubic-bezier(.4, 0, .2, 1);
}

.single-post-like-btn:hover,
.single-post-like-btn-blue:hover,
.single-post-edit-btn:hover,
.single-post-delete-btn:hover {
    background-color: var(--global-button-hover-color);
}

.single-post-like-btn-blue {
    color: var(--global-saturated-blue);
}

.single-post-like-icon {
    transform: scaleX(-1);
}

.single-post-likes {
    border-bottom: 1px solid var(--global-faded-border-color);
    color: var(--global-faded-text-color);
    font-size: 0.8em;
    padding: 1em;
}

.single-post-user-details {
    margin: 0 0.75em 0 0.75em;
    width: 65%;
}

.single-post-user-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.single-post-user-description,
.single-post-time-and-private {
    color: var(--global-faded-text-color);
    font-size: 12px;
}

.single-post-user-details-right-spacer {
    content: '';
    width: 87.4326px;
}

.single-post-time-and-private {
    align-items: center;
    display: flex;
}

.single-post-user-name {
    font-weight: var(--global-bold);
}

.single-post-user-profile-img {
    align-items: center;
    background-color: var(--global-button-hover-color);
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    object-position: center;
    overflow: hidden;
    width: 50px;
}

.single-post-user-profile-img>img {
    max-height: 100%;
    max-width: 100%;
}

.single-post-private-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 0.25em;
}

.single-post-time-since {
    margin-right: 0.25em;
}
