.forgot-password {
    cursor: pointer;
    margin: 0.5em 0;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
    width: fit-content;
}

.forgot-password:hover {
    color: var(--global-saturated-blue);
    text-decoration: underline;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.login-form-errors {
    color: var(--global-error-red);
}

.login-form-input-field,
.login-form-input-field-errors {
    border: 1px solid var(--global-saturated-border-color);
    border-radius: 0.2em;
    height: 48px;
    padding: 16px;
    position: relative;
    width: 408px;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.login-form-input-field-errors {
    border: none;
    box-shadow: 0 0 0 2px var(--global-error-red);
}

.login-form-input-field:focus,
.login-form-input-field-errors:focus {
    border: none;
    outline: none;
}

.login-form-input-field:focus {
    box-shadow: 0 0 0 2px var(--global-saturated-blue);
}

.login-form-input-field::placeholder,
.login-form-input-field-errors::placeholder {
    flex-direction: column;
    font-size: 1.2em;
    left: 16px;
    position: absolute;
    top: 12px;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.login-form-input-field:focus::placeholder,
.login-form-input-field-errors:focus::placeholder {
    top: 1px;
    left: 16px;
    font-size: 1em;
}

.login-form-or-divider {
    background-color: var(--global-card-background-color);
    margin: 0.5em auto;
    position: relative;
    width: 90%;
    text-align: center;
}

.login-form-or-divider::after {
    border-bottom: 1px solid var(--global-faded-text-color);
    content: '';
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.login-form-or-divider>span {
    background-color: var(--global-card-background-color);
    color: var(--global-faded-text-color);
    padding: 0 20px;
    position: relative;
    z-index: 3;
}

.login-form-signup-redirect,
.demo-user-login-btn {
    background: none;
    border: 1px solid var(--global-saturated-border-color);
    border-radius: 2em;
    color: var(--global-saturated-text-color);
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.75em 1.25em;
    text-align: center;
    text-decoration: none;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.login-form-signup-redirect:hover,
.demo-user-login-btn:hover {
    background-color: var(--global-button-hover-color);
}

.login-form-signup-redirect {
    font-weight: var(--global-bold);
}

.login-form-submit-btn {
    border: none;
    background-color: var(--global-saturated-blue);
    border-radius: 2em;
    color: var(--global-card-background-color);
    cursor: pointer;
    font-size: 1.2em;
    height: 56px;
    width: 100%;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.login-form-submit-btn:hover {
    background-color: var(--global-dark-blue);
}

.pwd-input-container {
    position: relative;
}

.show-pwd-btn {
    background: none;
    border: none;
    border-radius: 0.2em;
    color: var(--global-faded-text-color);
    cursor: pointer;
    font-size: 1em;
    font-weight: var(--global-bold);
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0.6em;
    top: 0.6em;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.show-pwd-btn:hover {
    background-color: var(--global-button-hover-color);
    color: var(--global-saturated-text-color);
}
