.about-drop-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.about-drop-body>p {
    color: var(--global-faded-text-color);
    font-size: 0.75em;
    text-align: center;
}

.about-drop-container {
    align-items: center;
    border-left: 1px solid var(--global-faded-border-color);
    display: flex;
    height: 100%;
    padding-left: 1em;
    position: relative;
}

.about-drop-content {
    background-color: var(--global-card-background-color);
    border-radius: 0.8em 0 0.8em 0.8em;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    max-width: fit-content;
    min-width: 200px;
    position: absolute;
    right: 1em;
    top: 115%;
    transition: visibility 0s linear 167ms, opacity 167ms cubic-bezier(.4, 0, 1, 1) 0s, z-index 0s linear 167ms;
}

.about-drop-header {
    align-items: center;
    border-bottom: 1px solid var(--global-faded-border-color);
    display: flex;
    justify-content: center;
    padding: 0.25em;
}

.about-drop-header-icon {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.about-drop-name {
    color: var(--global-faded-text-color);
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.about-img {
    border-radius: 50%;
    height: 130px;
    margin: 1em 0;
    width: 130px;
}

.about-links {
    align-items: center;
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
}

.about-links>a {
    color: var(--global-faded-text-color);
    transition: color 0.167s ease-in-out;
}

.about-links>a:hover {
    color: var(--global-saturated-blue);
}
