.main-nav-bar {
    background-color: var(--global-card-background-color);
    border-bottom: 1px solid var(--global-faded-border-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav-bar-content {
    align-items: center;
    display: flex;
    height: 52px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1128px;
    padding: 0 1em;
    position: relative;
}

.nav-left {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-search,
.nav-home,
.nav-network,
.nav-messaging,
.nav-bar-drop-down,
.nav-notifications {
    align-items: center;
    color: var(--global-faded-text-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    padding: 0 1em;
    text-decoration: none;
    transition: all 0.167s cubic-bezier(.4, 0, .2, 1);
}

.nav-search:hover,
.nav-home:hover,
.nav-network:hover,
.nav-messaging:hover,
.nav-bar-drop-down:hover,
.nav-notifications:hover {
    color: black;
}

.rungs-main-icon {
    margin-right: .8em;
    position: relative;
    height: 2.25em;
    width: 2.25em;
}

.main-nav-icon {
    bottom: -1.25em;
    position: absolute;
    width: 100%;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 1.75px;
    text-underline-offset: 0.4em;
    color: black;
}

@media screen and (max-width: 602px) {
    .nav-search-text,
    .nav-home-text,
    .nav-network-text,
    .nav-notifications-text,
    .nav-messaging-text {
        display: none;
    }
}

@media screen and (max-width: 875px) {
    .search-results,
    .nav-search-input {
        max-width: 500px;
    }
}

@media screen and (max-width: 746px) {
    .search-results,
    .nav-search-input {
        max-width: 300px;
    }
}
