.chat-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#chat-input {
    background-color: var(--global-button-hover-color);
    border: none;
    border-radius: 0.6em;
    min-height: 100px;
    padding: 1em;
    resize: none;
}

#chat-input:focus {
    outline: none;
}

.chat-input::before {
    background-color: green;
    bottom: 100%;
    content: '';
    display: inline;
    height: 0.1em;
    left: 0;
    position: absolute;
    transition: width 0.167s ease;
    width: 0%;
}

.chat-input:focus-within::before {
    width: 100%;
}

.chat-input {
    border-bottom: 2px solid var(--global-button-hover-color);
    border-top: 2px solid var(--global-button-hover-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
    padding: 0.75em;
    position: relative;
    width: 100%;
}

.chat-msg-body {
    color: var(--global-faded-text-color);
}

.chat-msg-container {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

.chat-msg-display {
    overflow: auto;
    height: 100%;
    padding: 0.75em;
}

.chat-msg-display * {
    overflow-anchor: none;
}

.scroll-anchor {
    overflow-anchor: auto;
    height: 1px;
    width: 100%;
}

.chat-msg-img {
    border-radius: 50%;
    height: 40px;
    margin-right: 1em;
    width: 40px;
}

.chat-msg-timestamp {
    color: var(--global-faded-text-color);
    font-size: 0.85em;
}

.new-send-date {
    margin: 1em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.new-send-date::after {
    border-bottom: 1px solid var(--global-faded-text-color);
    content: '';
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.new-send-date>span {
    background-color: var(--global-card-background-color);
    padding: 0 20px;
    position: relative;
    z-index: 3;
}

.same-sender {
    margin-left: calc(40px + 1em);
}
